@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import "tailwindcss";

@theme {
 --color-edge: #2e2e2e;
 --color-hoverc: #ffffff;
}

:root {
  --color-edge: #2e2e2e;
  --color-hoverc: #ffffff;
}

html, body{
    background-color: #000000;
    color: #8f8f8f;
    font-family: "Roboto Mono", monospace;
}
/* opacity 10 for hover using hoverc color */